<h1>Mongo Scraper App: Home</h1>

<div id="wrapper">
  <h1>Note Scraper</h1>
  <div id="articles"></div>
  <div id="notes"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../assets/javascript/interactive.js"></script>
